
<header class="main-header">
  <div class="app"><img src="../images/AVB-App.png" class="phone-app"/><a href="https://play.google.com/store/apps/details?id=org.avaliabrasil.avaliabrasil2&amp;utm_source=global_co&amp;utm_medium=prtnr&amp;utm_content=Mar2515&amp;utm_campaign=PartBadge&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="undefined" src="https://play.google.com/intl/en_us/badges/images/generic/pt_badge_web_generic.png" class="google-play-button"/></a></div>
</header>
<section class="main">
  <div class="container">
    <h2 class="section-title">Um App para o Brasil ficar de olho na qualidade do Serviço Público.</h2>
    <p class="section-description">
      O objetivo do Avalia Brasil é permitir a medição da percepção de qualidade do serviço público brasileiro. O desenvolvimento do App foi viabilizado pelo concurso InovApps 2015 do MCTI (Ministério da Ciência, Tecnologia, Inovações e Comunicações).
      <br><br> Use este aplicativo para avaliar a qualidade do serviço público. O app calcula estatísticas e exibe um ranking dos estabelecimentos públicos conforme as avaliações.
    </p>
    <div class="videoWrapper">
      <iframe width="560" height="349" src="https://www.youtube.com/embed/AXhoIR2GTog" frameborder="0" allowfullscreen="1"></iframe>
    </div>
  </div>
</section>