
<div ng-controller="AboutController" class="container">
  <h1 class="site-title">Avalia Brasil</h1>
  <h2 class="section-title">O Projeto</h2>
  <p class="section-description">
    <h2>Por quê?</h2>
    <p>Tivemos duas motivações para realizar este projeto. A primeira é a importância do serviço público para a qualidade de vida da população brasileira. Por mais que existam maneiras que permitam que o cidadão informe os administradores públicos sobre a sua qualidade, não vemos as alternativas atuais como suficientes para que haja total transparência neste processo. Veja o Vídeo abaixo para entender a ideia.</p>
    <p>Queremos viver em um Brasil no qual o serviço público é administrado com base em dados e fatos. Vemos o Avalia Brasil como um pequeno passo nesta direção.</p>
    <h2>Qual é o Objetivo?</h2>
    <p>O objetivo final do Avalia Brasil é propiciar a medição da qualidade do serviço público brasileiro. Desta maneira, queremos que o cidadão tenha um meio adequado de dar feedback aos administradores públicos, e também que os administradores públicos respondam à estas avaliações melhorando a qualidade do serviço prestado. Além disso, calculamos estatísticas em tempo real e colocamos os estabelecimentos que prestam estes serviços em um ranking.</p>
    <h2>Como este projeto foi realizado?</h2>
    <p>O projeto do aplicativo foi premiado pelo concurso InovApps 2015, o que viabilizou sua realização.</p>
    <h2>Quero Usar o Avalia Brasil</h2>
    <p>Se você é administrador público e quer integrar o Avalia Brasil ao seu processo de gestão, fale conosco!</p>
  </p>
</div>