
<div ng-controller="AboutController" class="container">
  <h1 class="site-title">Avalia Brasil</h1>
  <h2 class="section-title">Política de Privacidade</h2>
  <p class="section-description"></p> O Aplicativo Avalia Brasil tem o objetivo de coletar informações sobre a qualidade do serviço público brasileiro. Suas informações pessoais (nome e localização) não serão compartilhadas com nenhuma parte terceira e são confidenciais.
  <br><br>
  Apesar disto, o Avalia Brasil divulgará informações de modo agregado, incluindo os comentários informados por você. O Avalia Brasil também compila estatísticas sobre a qualidade do serviço público, porém em nenhuma hipótese apresentará tais informações de modo diretamente relacionado aos usuários do aplicativo.
</div>