<div ng-controller="AboutController" class="container">
  <h1 class="site-title">Avalia Brasil</h1>
  <h2 class="section-title">Quero Usar o Avalia Brasil!</h2>
  <p class="section-description">Se você é <b>administrador público</b> e deseja integrar o Avalia Brasil ao seu processo de gestão, sugerimos que siga os passos a seguir. O Avalia Brasil pode se tornar uma valiosa ferramenta para a sua administração. Usar o aplicativo oficialmente é uma maneira de realizar uma <b>pesquisa de satisfação</b> estruturada sem custos.

  <ol style="text-align: left">
      <li><b>Teste o Aplicativo:</b> Baixe o aplicativo em um celular com a plataforma Android, e simule o uso do aplicativo nos estabelecimentos gerenciados pela sua organização. Assim, você verá como os dados serão coletados pelos próprios usuários do serviço público.</li>
      <li><b>Planeje a sua implantação:</b> A seguir algumas dicas para planejar a implantação do Avalia Brasil:
      <ul>
      	<li><b>Faça um Piloto:</b> Sugerimos que comece a aplicação do Avalia Brasil em um estabalecimento (ex.: um Posto de Saúde), por um mês. Use as informações coletadas para melhorar o atendimento naquele local. Após isso, avalie o que funcionou e o que precisa melhorar antes de levar esta iniciativa a outros estabelecimentos.</li>
      	<li><b>Divulgue a Iniciativa:</b> Afixe um ou mais Folders comunicando os usuários do estabelecimento sobre o uso do Avalia Brasil. Preparamos <a href="http://avaliabrasil.org/images/avalie-este-estabelecimento-folder-avalia-brasil.pdf" download="FolderAvaliaBrasil"> este Folder Padrão </a>para você usar!</li>
      	<li><b>Verifique seus Estabelecimentos no Google Maps:</b> O Avalia Brasil usa informações do Google Maps para encontrar estabelecimentos que possam prestar atendimento público. Caso não encontre seu Estabelecimento no Google Maps, pode ser necessário cadastrá-lo primeiro.</li>
      </ul>
      <li><b><a href="https://docs.google.com/forms/d/e/1FAIpQLScCQKVBA6iIzQq_fAy_MSkoedAXCNHllWfmUqsIYaqSB6vfIw/viewform?">Fale Conosco!</a></b> Queremos saber mais sobre como você tem usado o Avalia Brasil, e também queremos ouvir seu feedback!</li>
    </ol>
  </p>
</div>