
<div ng-controller="AboutController" class="container">
  <h1 class="site-title">Avalia Brasil</h1>
  <p class="section-description">
    <h2>Histórico e Contexto</h2>
    <p>O Avalia Brasil é um App de interesse público, projetado para a plataforma Android distribuído gratuitamente. O projeto do aplicativo foi premiado pelo concurso InovApps 2015 do então Ministério das Comunicações. O projeto é de autoria de Pedro Nascimento de Lima, Nataniel Schling e Klaus Klein.</p>
    <p>Conforme o Edital Nº 54/2015/SEI-MC (disponível também aqui),  o projeto do App Avalia Brasil 148705 foi premiado pelo concurso InovApps, conforme pode ser visto na lista de projetos premiados (disponível também aqui). Após a interrupção do concurso devida a um empecilho legal, a entrega final do aplicativo ocorreu no dia 15/10/2016.</p>
    <h2>Termos de Serviço</h2>
    <p>Conforme previsto em Edital, os mantenedores do aplicativo comprometem-se a:</p>
    <ul style="text-align: left">
      <li>Não utilizar dados pessoais dos usuários a menos que seja essencial para o funcionamento do aplicativo.</li>
      <li>Permitir o uso e distribuição gratuito do aplicativo Avalia Brasil para a Plataforma Android.</li>
      <li>Atualizar o aplicativo desenvolvido, se necessário, por prazo não inferior a 24 (vinte e quatro) meses subsequentes a sua entrega.</li>
      <li>Manter infraestrutura necessária para o pleno funcionamento do aplicativo como servidores, controle de tráfego e segurança, quando couber, por prazo não inferior a 24 (vinte e quatro) meses subsequentes a sua entrega.</li>
      <li>Havendo qualquer dúvida ou eventual problema, solicita-se ao usuário que encaminhe e-mail ao endereço contato@avaliabrasil.org para a sua solução.</li>
    </ul>
  </p>
</div>